/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
_ide_helper_models.php
_ide_helper.php
.phpstorm.meta.php
storage/debugbar/Xae93604054af4067f6f6dddef4e4bb25.json
storage/debugbar/X4553fb04104e8b5674c71e3adae5f052.json
